.page{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


.page-container{
  position: absolute;
  top:0px;
  left:0px;
  background-color:white;
  height:100%;
  width:100%;
 
}

#no-internet{
	/* display: none; */
}
#tower{
height: 200px;
width: 150px;
position: absolute;
top: calc(50% - 100px);
left: calc(50% - 75px);
}

#tower-text{
 position: absolute;
width: 100%;
text-align: center;
top: calc(50% + 110px);
color: grey;
font-weight: bold;
}

#arrow-tag{
 width: 104px;
 height: 70px;
 margin-bottom: 5px;
 -webkit-transform: rotate(10deg);
 margin-left: 5px;
 margin-top: -15px;
}


#arrow-tag-2{
 width: 121px;
 height: 70px;
 margin-left: 12px;
 -webkit-transform: rotate(12deg);
 margin-top: -15px;
}

.arrow-tag-active{
 opacity: 1;
 transition: 1000ms;
}

.arrow-tag-inactive{
  opacity: 0;
  transition: 1000ms;
}

#loading-slider{
width: calc(100% + 10px);
height: 230px;
text-align: center;
margin-bottom: 12px;
padding-top: 100px;
}


/*Page Transition 
.page.ng-enter,.page.ng-leave {
    transition: 500ms;
    position:absolute;
}

.page.ng-enter {
  top:100%;
}
.page.ng-enter.ng-enter-active {
  top:0;
}

.page.ng-leave  { 
  top:100%;
}
.page.ng-leave.ng-leave-active {
  top:0;
}
End Page Transition */

/*Slide Up*/
.slideUp.ng-enter,.slideUp.ng-leave {
    transition: 400ms;
    position:absolute;
}

.slideUp.ng-enter {
  top:100%;
}
.slideUp.ng-enter.ng-enter-active {
  top:0;
}

.slideUp.ng-leave  { 
  top:0;
}
.slideUp.ng-leave.ng-leave-active {
  top:-100%;
}
 
 /*Slide Right*/
.slideRight.ng-enter,.slideRight.ng-leave {
    transition: 400ms;
    position:absolute;
}

.slideRight.ng-enter {
  left:-100%;
}
.slideRight.ng-enter.ng-enter-active {
  left:0;
}

.slideRight.ng-leave  { 
  left:-100%;
}
.slideRight.ng-leave.ng-leave-active {
  left:0;
} 
 
/*Slide Left*/
.slideLeft.ng-enter,.slideLeft.ng-leave {
    transition: 400ms;
    position:absolute;
}

.slideLeft.ng-enter {
  left:100%;
}
.slideLeft.ng-enter.ng-enter-active {
  left:0;
}

.slideLeft.ng-leave  { 
  left:100%;
}
.slideLeft.ng-leave.ng-leave-active {
  left:0;
}  
 
/*Slide Down*/
.slideDown.ng-enter,.slideDown.ng-leave {
    transition: 400ms;
    position:absolute;
}

.slideDown.ng-enter {
  top:-100%;
}
.slideDown.ng-enter.ng-enter-active {
  top:0;
}

.slideDown.ng-leave  { 
  top:-100%;
}
.slideDown.ng-leave.ng-leave-active {
  top:0;
}

/*fade In*/
.dissolveIn.ng-enter,.dissolveIn.ng-leave {
    transition: 1500ms;
    position:absolute;
    top:0;
    left:0;
}

.dissolveIn.ng-enter {
 opacity: 0;
}
.dissolveIn.ng-enter.ng-enter-active {
  opacity: 1;
}

.dissolveIn.ng-leave  { 
  opacity: 0;
}
.dissolveIn.ng-leave.ng-leave-active {
  opacity: 1;
}  
/*End Page Transition */

.header{
 position: absolute;
 width: 100%;
 height: 60px;
 top:  0px;
 left: 0px;
 background-color: #272727;
 color: #ffffff;
}

.body{
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% - 114px);
  top: 60px;
  left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 15px;
}

.body-no-footer{
  position: absolute;
  width: 100%;
  height:  calc(100% - 60px);
  top: 60px;
  left: 0px;
  overflow: auto;
  /* border-bottom: 1px solid #b5b5b5; */
}

.footer{
  position: absolute;
  width: 100%;
  height: 54px;
  top: calc(100% - 54px);
  left: 0px;
  background-color: #272727;
  color: #ffffff;
  /* border-top: 1px solid #b5b5b5; */
}



.header-table,.footer-table{
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle !important;
}

.header-table tr,.footer-table tr{
	vertical-align: middle !important;
}

.header-table td:nth-child(1){
  width: 21%;
}

.header-table td:nth-child(2){
  width: 56%;
  font-size: 20px;
}

.header-table td:nth-child(3){
  width: 21%;
}

.menu-icons{
 font-size: 18px;
 color: #ffffff;
 vertical-align: middle !important;
}

.menu-icons-footer{
 font-size: 22px;
 color: #ffffff;
 vertical-align: middle !important;	
}

.menu-icons-black{
 font-size: 18px !important;
 color: #000000;
}

/*
#back-icon{
 height : 60px;
 width : 100px;
}

#button-back{
 background: #72c02c;
 border-color: #72c02c;
 width: 100%;
 height: 100%;
 z-index: 5;
 padding: 0px;
 outline: none;
}
*/

.menu-label{
  color: #72c02c;
  font-size: 16px;
  font-family:  'Roboto',sans-serif;
  font-weight: 400;
}

.menu-label-footer{
  color: #72c02c;
  font-size: 12px;
  font-family:  'Roboto',sans-serif;
  font-weight: 400;
}

a{
 text-decoration: none !important;
}


.font-roboto-400{
	font-family:  'Roboto',sans-serif;
	font-weight: 400;
}

.font-roboto-500{
	font-family:  'Roboto',sans-serif;
	font-weight: 500;
}

.cat-div-header{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.category-table{
   width: 100%;
   padding: 10px;  
   margin-top: 5px;
   text-align: center;
}

.side-panel-overlay{
	width: 40%;
    height: 100%;	
    position: absolute;
    left: 100%;
    top: 0;
}

.side-panel-overlay-active{
	left: 60%;
}

.side-panel-overlay-inactive{
	left: 100%;
}

.side-panel{
 width: 60%;
 height: 100%;	
 position: absolute;
 left: -100%;
 top: 0;	
}

.side-panel-active{
 left: 0;
 transition: 400ms;
}

.side-panel-inactive{
 left: -100%;
 transition: 400ms;	
}

.side-panel-header{
	width: 100%;
	padding: 10px;
	background: #e74c3c;
	color: #ffffff;	
}

.side-panel-header div{
	margin-left: 10px;
}

.push-container{
	left: 60%;
	transition: 400ms;
}

.pull-container{
	left: 0;
	transition: 400ms;
}


.side-panel-menu{
  width: 100%;
  height: 100%;	
  background: #ffffff;	
}

.side-panel-item{
 border: none;
}

.side-panel-item-label{
	 font-family:  'Roboto',sans-serif;
     font-weight: 500;
     font-size: 16px;
     margin-left: 10px;
}


.cat-icon{
 height: 100px;
 width: 100px;
 padding: 18px;
}



.icon-green{
  
   background: #72c02c;
   color: #fff;
 }
 .icon-blue{
   background: #3498db;
   color: #fff;
 }
 .icon-red{
   background: #e74c3c;
   color: #fff;
 }
 .icon-yellow{
   background: #f1c40f;
   color: #fff;
 }

 .icon-grey{
   background: #fff;
   color: grey;
   font-size: 20px;
 }
 
 .custom-tab{
  width: 100%;
  height: 100%;
 }
 

.custom-tab-header{
  width: 100%;
  height: 40px;	
  text-align: center;
  vertical-align: top;
  padding-top: 10px;
  font-family:  'Roboto',sans-serif;
  font-weight: 500;
  font-size: 17px;
  background: gainsboro;
}

.custom-tab-header-active{
  background: #ffffff;	
  color: #72c02c;
}

.tab-body{
 padding: 10px;
 margin-top: 40px;
}

.input-group-addon{
	background: #ffffff;
}

.input-group-addon-custom{
	color: #B3B3B3;
    font-size: 14px;
    width: 17px;
    background: #ffffff;
}

.login-btn-green{
	font-size: 14px !important;
	padding:6px 13px !important;
	color: #ffffff !important;
	background-color: #72C02C !important;
	text-decoration:none !important;
	border:0px none !important;
}

.login-div{
   text-align: center;
   margin-top: 35px;
   height: 34px;
}
.login-div input{
	font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 17px;
color: #ffffff !important;
background-color: #72c02c !important;
text-decoration: none !important;
border: 0px none !important;
width: 80%;
padding-top: 8px;
padding-bottom: 8px;;
}

.proceed-div{
   text-align: center;
   margin-top: 25px;
   height: 34px;
}

.proceed-div input{
	font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 17px;
color: #ffffff !important;
background-color: #72c02c !important;
text-decoration: none !important;
border: 0px none !important;
width: 80%;
padding-top: 8px;
padding-bottom: 8px;
}



.z-index-0{
	z-index: 0;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-top-10{
	margin-top: 10px;
}
}
.margin-left-10{
margin-left: 10px;	
}

.padding-5{
  padding: 5px;
}

.padding-15{
  padding: 15px;
}

.border-bottom{
 border-bottom: 1px solid #eee;	
}

.login-form-footer {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  color: gray;
}

.login-form-header{
	font-family:  'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.image-container{
	width: 100%;
	text-align: center;
}

.image-container img{
	width: 100%;
	height: 200px;
}

.search-div {
  padding: 10px;
  background: gainsboro;
  height: 54px;
}

/*
.item-active{
	
	background: #337AB7;
	color: #ffffff;
}
*/

.item-active{
 background: #72c02c;
color: black;
opacity: 0.7;
}

.checkbox-div {
  margin-left: 30px;
  height: 40px;
}

.checkbox-SignedIn {
  margin-left: 25px;
}

.list-sub-categories{
  overflow: auto;
  height: calc(100% - 168px);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.unknown-category-div{
	padding: 5px;
	margin-bottom: 5px;
}

 /*Hide Webkit Scroll bar
::-webkit-scrollbar { 
        display: none; 
     } */
     
     
.select-date-time-div, .provide-address-div{
   padding: 10px;
   border-bottom: 1px solid #eee;	
}

.select-date-time-value{
 margin-left: 10px;
}
.select-date-time-lable,.provide-address-lable{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;	
}

.select-date,.select-time{
   width: 150px;
   display: inline-block;
}

.select-date div,.select-time div{
 display: inline-block;
 margin-left: 5px;
}

 .custom-icon-green{
     color: #72c02c;
     background: #fffff;
   } 
   
 .custom-input-div{
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
  } 
  
.input-group-addon-custom{
	color: #B3B3B3;
    font-size: 14px;
    width: 17px;
    background: #ffffff;
}

.input-group-addon-custom-marker{
	color: #B3B3B3;
    font-size: 16px;
    width: 17px;
    background: #ffffff;
    padding-left: 3px;
    padding-right: 3px;  
	
}


     
 .selected-city-area{
       
        border: 1px solid #eee;
  }
      
 .selected-city-area div{
       display: inline-block;
       padding-top: 8px;
       padding-bottom: 8px;
       padding-left: 11px;
       padding-right: 11px;
 }
 
 .selected-city-area-icon{
        border-right: 1px solid #eee;
        float: left;
        
 }
 
 .font-size-18{
  font-size: 18px;
 }
 
 .font-size-16{
  font-size: 16px;
 }
 
 .font-size-12{
  font-size: 12px;
 }
 .list-group-city-area{
        
        height: 206px;
        overflow: auto;
        border-bottom: 1px solid #eee; 
 }
      
 .list-group-city-area li{
       padding-top: 5px;
       padding-bottom: 5px;
       padding-left: 30px;
        border: 1px solid #eee;
 }
 
 .color-grey{
  color: gray;
 }
 
 .custom-overlay{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 1;
       background-color: rgba(0,0,0,0.5); /*dim the background*/
       display: none;
     }
 
 #login-overlay,#order-success-popup-overlay{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 1;
       display: none;
       background-color: rgba(0,0,0,0.5);
 }    
   
 #inAppBrowser-overlay,#promo-overlay,#share-options-overlay{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 1;
       display: none;
      opacity: 0;
 }
   
   #custom-date-picker, #custom-time-picker{
     display: none;
     margin-top: 10px;
   } 
   
     .custom-time-picker-header{
       font-size: 18px;
       color: #0AB6E5;
       padding-top: 10px;
       padding-bottom: 10px;
       border-bottom: 1px solid #0AB6E5;
       padding-left: 15px;
       
     }
     
     .custom-list-time{
        width: 210px;
      	height: 204px;
      	overflow-y: scroll;  
     }
     
     .custom-list-icon{
        width: 20px;
        display: inline-block;
		vertical-align: top;
		margin-top: 10px;
     }
     
     .custom-list-clock-icon{
        font-size: 19px;
        color: #777;
     }
     
     .list-calendar-icon{
       color: #777;
      }
     
       .custom-list-time-lable{
         color: #777;
         background: #ecf0f1;
         display: inline-block;
         margin-left: 5px;
         padding-left: 2px;
         padding-right: 2px;
         width: 130px;
         text-align: center;     
     }
     
      .custom-list-date{
        color: #777;
		background: #ecf0f1;
		display: inline-block;
		padding: 5px;
		width: 102px;
		text-align: center;
		margin-left: 10px;
       }
       .custom-list-day{
            color: #777;
            background-color: #ecf0f1;
            border-radius: 10px !important;
            display: inline-block;
            width: 40px;
            text-align:center;
            margin-left: 5px;
       }
         
       #logout{
        position: absolute;
        top: calc(50% - 75px);
        left: calc(50% - 125px);
        width: 250px;
        height: 150px;
        font-size: 16px;
        padding: 10px;
        z-index: 2;
        background-color: #ffffff;
        color: #555;
        display:none;
        text-align: center;
       }  
       
       .logout-title{
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 10px;
          margin-bottom: 25px;
          border-bottom: 1px solid #eee;
          /* color: #3498db; */
       }
       
       .logout-okay{
         width: 45%;
         display: inline-block;
         border: 1px solid green; 
         padding:10px; 
         margin-right: 3px;
         color: green;
       }
       
       
       .logout-cancle{
         width: 45%;
         display: inline-block;
         border: 1px solid #555; 
         padding:10px; 
         margin-left: 3px;
       }
       /*
       #logout span{
        margin-left: 5px;
       }
       
        #logout i{
        margin-left: 10px;
       } */
       
       .panel-option{
        
        padding: 10px;
        border-bottom: 1px solid #eee;	
       }
       
       .panel-option i{
        margin-left: 15px;
        font-size: 20px;
       }
       
       .panel-option span{
        margin-left: 20px;
        font-size: 17px;
       }
       
       #success-msg{
        padding: 10px;
        display: none;
       }
       
 .login-prompt-window{
 text-align: center;
 margin-top: 50px;
}

.login-hi-text{
 font-size: 30px;
 color: #555;;
}

.login-help-text{
	font-size: 18px;
	margin-bottom: 20px;
	color: #555;
}

#login-button{
  color: #72C02C;
  font-size: 20px;
  border: 1px solid #72C02C;
  padding-left: 12px;
  border-radius: 5px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.row-option{
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 5px;
 padding-bottom: 5px;
 width: 100%;	
 border-bottom: 1px solid #eee;
}


.option-col-1{
	width: 30px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding-top: 17px;
		
}

.option-col-2{
	width: calc(100% - 45px);
	display: inline-block;
	margin-left: 10px;
	padding-bottom: 8px;
}

 .custom-input{
       	border: none !important;
		outline: none !important;
		display: inline-block;
		width: 100%;
     }
     
 .action-menu{
   width: 100%;
   text-align: center;
   padding: 10px;
   margin-top: 30px;
 } 
 
 .action-save{
   padding-top: 7px;
   padding-bottom: 7px;
   margin: 5px;
   font-size: 17px;
   color: green;
   border: 1px solid  green; 
  
 }
 
 .action-discard{
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 5px;
  font-size: 17px;
  color: #555;
  border: 1px solid  #555; 
 }  
 
 .row-option-order{
 padding-top: 10px;
 padding-bottom: 10px;
 width: 100%;	
 border-bottom: 1px solid #eee;	
 text-align: center;
} 
 
.order-list-col-1{
   display: inline-block;
   vertical-align: top;
   width: 30px;
   text-align: center;
   margin-top: 5px;
 }
 
 .order-list-col-2{
   display: inline-block;
   vertical-align: top;
   width: calc(100% - 150px);
   padding-left: 10px;
   text-align: left;
 }  
  .order-list-col-3{
    display: inline-block;
	vertical-align: top;
	width: 95px;
	word-break: break-all;
	text-align: center;
 }  
 
 .loading-spinner{
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	z-index: 2;	
  }

.error-msg{
	padding: 5px;
	font-size: 12px;
	font-family:  'Roboto',sans-serif;
	font-weight: 500; 
	color: #e74c3c;
}

 .slider-container{
  width: 90%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  margin: auto; 
}

.slider-container div{
  width: auto;
  height: auto; 
  display: inline-block;
  padding: 10px;
  border: 1px solid #eee;
  text-align: center;
  margin: 5px;
}

#edit-float{
	position: absolute;
	top: calc(100% - 100px);
	left: calc(100% - 80px);
	background: #272727;
	color: #ffffff;
	width: 50px;
	height: 50px;
	padding-left: 17px;
	padding-top: 12px;
	border-radius: 25px; 
}

#social-float{
	position: absolute;
	top: calc(100% - 65px);
	left: calc(100% - 65px);
	background: #272727;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	padding-top: 9px;
	border: 1px solid #eee;
}

.social-active{
	-webkit-transform: rotate(-90deg);
	transition: 400ms;	
}

.social-inactive{
	-webkit-transform: rotate(90deg);
	transition: 400ms;	
}

#facebook{
    position: absolute;
	top: calc(100% - 65px);
	left: calc(100% - 345px);
	background: #3a5795 ;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	padding-top: 9px;
	border: 1px solid #eee;
	
}

#google{
	position: absolute;
	top: calc(100% - 65px);
	left: calc(100% - 275px);
	background: #db4b39;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	padding-top: 9px;
	border: 1px solid #eee;
}

#twitter{
	position: absolute;
	top: calc(100% - 65px);
	left: calc(100% - 205px);
	background: #55acee;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	padding-top: 9px;
	border: 1px solid #eee;
}

#share{
 position: absolute;
 	top: calc(100% - 65px);
 	left: calc(100% - 135px);
 	background: #D05050;
 	width: 50px;
 	height: 50px;
 	border-radius: 25px;
 	text-align: center;
 	padding-top: 9px;
 	border: 1px solid #eee;
}

.social-option{
 opacity: 0;
 z-index: -1;
}

.social-option-active{
	opacity: 1;
	z-index: 1;
	transition: 1000ms;
	
}

.social-option-inactive{
	opacity: 0;
	z-index: -1;
	transition: 1000ms;
	
}

  .custom-slider{
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    height: 200px;
  }
  
  .custom-slider div, .custom-slider img{
   width: 100%;
  }
  
  .custom-slides{
   cursor: move; 
   position: absolute; 
   left: 0px; 
   top: 0px; 
   width: 100%; 
   height: 200px;
  }
  
  #order-success-popup{
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    background: #ffffff;
    z-index: 2;
  }
  
  .order-popup-title{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
  
  .order-popup-info{
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    word-break: break-all; 
  }
  
  .order-gotit{
   text-align: center;
   color: green;
  }
  
  .order-gotit span{
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 6px;
     padding-bottom: 6px;
     border: 1px solid green;
  }

  #no-record{
   width: 120px;
   height: 130px;
   position: absolute;
   top: calc(50% - 65px);
   left: calc(50% - 60px);
  }

  #share-options{
   width: 300px;
   height: 326px;
   position: absolute;
   top: calc(50% - 180px);
   left: calc(50% - 150px);
   z-index: 2;
   background: white;
   display: none;
   border-top: 1px solid #eee;
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
  }


  .row-share{
   padding: 10px;
   border-bottom: 1px solid #eee;
   width: 100%;
  }

  .col-share-1{
    width: 60px;
    display: inline-block;
  }

  .col-share-2{
   width: 200px;
   display: inline-block;
   padding-left: 20px;
   font-size: 18px;
  }

  .share-header{
   color: #78CBEA;
   font-size: 18px;
   padding-left: 15px;
  }


  .col-share-1 img{
   height: 35px;
   width: 35px;
   padding: 2px;
  }

  .icon-cancel{
    background: #db4b39;
    height: 25px;
    width: 25px;
    padding: 5px;
    float: right;
    }

  .icon-announcement{
    height: 35px;
    width: 35px;
    padding: 5px;
    float: right;
    margin-top: -5px;

  }

    #update-now-popup{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #ffffff;
     z-index: 3;
     display: none;
    }

   .update-now-header{
     width: 100%;
     height: 60px;
     background: #272727;
     color: #ffffff;
     font-size: 20px;
     padding: 15px;
   }



/* Arrow Navigator Skin Begin */
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn {
     position: absolute;
     cursor: pointer;
     display: block;
     background: url(../js/jssor/jssor-slider/images/a10.png) no-repeat;
     overflow: hidden;
}

.jssora10l {
   background-position: -16px -39px;
}

 .jssora10r {
   background-position: -76px -39px;
 }

.jssora10l:hover {
  background-position: -136px -39px;
}

.jssora10r:hover {
     background-position: -196px -39px;
}

.jssora10ldn {
   background-position: -256px -39px;
 }

.jssora10rdn {
     background-position: -316px -39px;
}
/* Arrow Navigator Skin End */

.offers-row{
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.offers-title{
  font-size: 20px;
  color: #72c02c;
}

.offers-Detail{
	font-size: 16px;
	margin-bottom: 5px;
}

.offer-table{
	width: 100%;
}

.offer-bar{
	width: 100%:
}

.offer-bar div{
	width: 45%;
	display: inline-block;
}

.offer-bar-title{
 font-size: 12px;
 font-weight: bold;
}


.app-background{
   background: #272727;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   display: none;
}

.app-promo {
  background: #272727;
  width: 100%;
  position: absolute;
  top: -60px;
  left: 0px;
  text-align: center;
  padding: 10px;
  -webkit-transform: rotateX(-180deg);
  height: 60px;
  color: white;
  font-size: 16px;

}

.app-promo-before-active{
 top: 0px;
 z-index: -3;
}

.app-promo-active{
  -webkit-transform: rotateX(0deg);
  z-index: 3;
  transition: 1000ms;

}

.app-promo-inactive{
  -webkit-transform: rotateX(-180deg);
  z-index: -3;
  transition: 1000ms;
}

.header-active{

  -webkit-transform: rotateX(0deg);
  transition: 1000ms;
}

.header-inactive{
 -webkit-transform: rotateX(-180deg);
 transition: 1000ms;

}

#home-back{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100px;
  height: 60px;
}

#login-div{
 width: 80px;
 height: 60px;
 padding-top: 17px;
}