<div class="page-container">

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td>
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Settings</td>
          <td>
            <div data-ng-show='!editMode && userLoggedIn' data-ng-click='onLogout()'>
               <i class="icon-signout menu-icons" ></i>
               <label class="menu-label"> Logout</label>  
            </div>
            
            <div data-ng-click='editMode=false;' data-ng-show='editMode'>
              <i class="icon-remove menu-icons" ></i>
              <label class="menu-label"> Close</label> 
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
  <div class='app-promo'>This is awesome!</div>
  <!-- End Header Segment-->

  <div class="body-no-footer">
  
    <!-- Login-prompt -->    
     <div class="login-prompt-window" data-ng-show='!userLoggedIn'>
        <div class="login-hi-text"><em>Hi</em></div>
        <div class="login-help-text"><em>Please login to view your settings.</em></div>
        <div><a href="#Login"><span id="login-button"><em>Login</em></span></a></div>        
     </div>
    <!-- End Login-prompt -->
    
    <!--Account Information -->
    <div  data-ng-show='userLoggedIn && !editMode' class='margin-top-10'>
    
      <div class='row-option'>
          <div class='option-col-1'><i class="icon-user menu-icons" style="color: maroon;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>First Name</div>
             <div class='font-size-16 font-roboto-400'>{{firstName}}</div>
          </div>
      </div>
      
      <div class='row-option'>
          <div class='option-col-1'><i class="icon-user menu-icons" style="color: maroon;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Last Name</div>
             <div class='font-size-16 font-roboto-400'>{{lastName}}</div>
          </div>
      </div>
      
      <div class='row-option'>
          <div class='option-col-1'><i class="icon-envelope menu-icons" style="color: #72c02c;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Email</div>
             <div class='font-size-16 font-roboto-400'>{{email}}</div>
          </div>
      </div>
      
      <div class='row-option'>
          <div class='option-col-1'><i class="icon-phone menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Phone</div>
             <div class='font-size-16 font-roboto-400'>{{phoneNumber}}</div>
          </div>
      </div> 

    </div>
    <!--End Account Information -->
    
    <!--Account Edit -->
    <div  data-ng-show='userLoggedIn && editMode' class='margin-top-10 padding-15'>
     <form data-role="form">       
      <div class="form-group margin-top-10">
          <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-user input-group-addon-custom"></i></span>
              <input class="form-control form-text" type="text"  placeholder="First Name" data-ng-model='firstNameNew' required>
          </div>
          <div data-ng-show="firstNameError" data-ng-bind="firstNameError" class="error-msg" ></div>
      </div>
      
      <div class="form-group margin-top-20">
          <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-user input-group-addon-custom"></i></span>
              <input class="form-control form-text" type="text"  placeholder="Last Name" data-ng-model='lastNameNew' required>
          </div>
          <div data-ng-show="lastNameError" data-ng-bind="lastNameError" class="error-msg" ></div>
      </div>
      
      <div class="form-group margin-top-20">
         <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-envelope input-group-addon-custom"></i></span>
              <input class="form-control form-text" type="email"  placeholder="Email" data-ng-model='emailNew' required>
         </div>
         <div data-ng-show="emailError" data-ng-bind="emailError" class="error-msg" ></div>
      </div>
      
      <div class="form-group margin-top-20">
         <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-key input-group-addon-custom"></i></span>
              <input class="form-control form-text" type="password"  placeholder="Current Password" data-ng-model='currentPassword' required>
         </div>
         <div data-ng-show="passwordError" data-ng-bind="passwordError" class="error-msg" ></div>
      </div>
           
      <div class="form-group margin-top-20" data-ng-show='changePassword'>
         <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-lock input-group-addon-custom"></i></span>
              <input class="form-control form-text" type="password"  placeholder="New Password" data-ng-model='newPassword' required>
         </div>
         <div data-ng-show="newPasswordError" data-ng-bind="newPasswordError" class="error-msg" ></div>
      </div>
      
      <div class="form-group margin-top-20" data-ng-show='changePassword'>
         <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-lock input-group-addon-custom"></i></span>
              <input class="form-control form-text" type="password"  placeholder="Confirm Password" data-ng-model='confirmPassword' required>
         </div>
         <div data-ng-show="passwordMismatch" data-ng-bind="passwordMismatch" class="error-msg" ></div>
      </div>
      
      <div class='checkbox-div'>
        <div class="input-group z-index-0">
	      <label class="checkbox font-roboto-500"><input type="checkbox" data-ng-model='changePassword'>I want to change my password.</label>
        </div>
      </div>
      
      <table class='action-menu'>
       <tbody>
         <tr>
           <td><div  class='action-save' data-ng-click='validateDetails()'><span>&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;</span><i class="icon-thumbs-up" ></i></div></td>
           <td><div class='action-discard' data-ng-click='editMode=false;'><span>Discard&nbsp;&nbsp;</span><i class="icon-thumbs-down" ></i></div></td>
         </tr>
       </tbody>
      </table>
      
    </form>
    </div>
    <!--End Account Edit -->

  </div>
  <!-- End body -->
 
  <div id='logout' class='font-roboto-400'>
    <div class='logout-title'> Confirm Logout</div>
    
    <div style='width: 100%'>
       <div class='logout-okay'  data-ng-click='onLogout()'>
            <i class="icon-ok-sign"></i> Okay
       </div>
       <div class='logout-cancle'  data-ng-click='hideLougout()'> 
             <i class="icon-remove-sign"></i> Cancle
       </div>
    </div>
  </div>

  <div id='login-overlay' data-ng-click='hideLougout()'></div>
  
  <div id='edit-float' data-ng-click='onEdit()' data-ng-show='!editMode && userLoggedIn'>
    <div><i class="icon-pencil menu-icons" ></i></div>
  </div>
 
</div>
<!--End Page Container-->

