<div class="page-container">

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td  onclick="goBack()">
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Service Requests</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
    <div class='app-promo'>This is awesome!</div>
    <!-- End Header Segment-->
  
  <div class="body-no-footer">
  
     <!-- Login-prompt -->    
       <div class="login-prompt-window" data-ng-show='!userLoggedIn'>
        <div class="login-hi-text"><em>Hi</em></div>
        <div class="login-help-text"><em>Please login to view your service requests.</em></div>
        <div><a href="#Login"><span id="login-button"><em>Login</em></span></a></div>        
       </div>
      <!-- End Login-prompt -->
      
      <!-- Order List -->
      <div data-ng-show='userLoggedIn'>
      <div class='row-option-order' data-ng-repeat='order in orderList' data-ng-click="onSelectOrder(order.nid)">
          <div class='order-list-col-1'>
               <i class="icon-circle-blank menu-icons" style='color: green;'></i>
           </div>
           <div class='order-list-col-2'>
               <div class='font-size-16 font-roboto-400'> {{order.srn}}</div>
               <div class='font-size-12 font-roboto-500'> {{ getFormattedDate( order.scheduled_date ) }}</div>               
           </div>
           <div class='order-list-col-3'>
              <div> {{order.status}}</div>
           </div>   
      </div>
      <img src="img/no-record-found.png" id="no-record" data-ng-show="noRecords">
      </div>
      <!-- End Order List -->
      
  </div>
  <!-- End body -->
 
</div>
<!--End Page Container-->