<div class="page-container">

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td  onclick="goBack()">
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Settings</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
    <div class='app-promo'>This is awesome!</div>
    <!-- End Header Segment-->
  
  <div class="body-no-footer">
     
  <div class='panel-option margin-top-10' data-ng-click="openInAppBrowser(aboutUsUrl)">
     <i class="icon-group"></i> 
     <span>About us</span>
  </div>
  
  <div class='panel-option'  data-ng-click="openInAppBrowser(careersUrl)">
     <i class="icon-briefcase"></i> 
     <span>Careers</span>
  </div>
  
  <div class='panel-option'  data-ng-click="openInAppBrowser(contactUsUrl)">
     <i class="icon-envelope"></i> 
     <span>Contact us</span>
  </div>
  
  <div class='panel-option'  data-ng-click="openInAppBrowser(FAQSUrl)">
     <i class="icon-question-sign"></i> 
     <span>FAQS</span>
  </div>
  
  <div class='panel-option'  data-ng-click="openInAppBrowser(feedbackUrl)">
     <i class="icon-comments"></i> 
     <span>Feedback</span>
  </div>
  
  <div class='panel-option'  data-ng-click="openInAppBrowser(trustNSafetyUrl)">
     <i class="icon-warning-sign"></i> 
     <span>Trust & Safety</span>
  </div>
  
  <div class='panel-option'>
     <i class="icon-star-half-empty"></i> 
     <span>Rate us</span>
  </div>

  <div class='panel-option'  data-ng-click="openInAppBrowser(websiteUrl)">
     <i class="icon-globe"></i> 
     <span>Website</span>
  </div>
  </div>
  <!-- End body -->
 
</div>
<!--End Page Container-->