<div class="page-container">

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td onclick="goBack()">
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Pick Categories</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
    <div class='app-promo'>This is awesome!</div>
    <!-- End Header Segment-->
  
  <div class="body-no-footer">
  
   <div class="search-div">
    <div class="input-group z-index-0">
      <span class="input-group-addon"><i class="icon-search input-group-addon-custom"></i></span>
      <input class="form-control form-text" data-ng-model="query" type="text" placeholder="Type to search a category" size="60" maxlength="60">
   </div>
   </div>
   
   <div class='checkbox-div'>
    <div class="input-group z-index-0">
	      <label class="checkbox font-roboto-500"><input type="checkbox" data-ng-model='unknownCategory'>I can't find the repair work in the list.</label>
        </div>
   </div>
  
   <div class='unknown-category-div' data-ng-show='unknownCategory'>
     <textarea class="textarea form-control" data-row="10" placeholder="Please describe the repair work." 
                   maxlength="350" data-ng-model="description" data-ng-change="validateDetails()"></textarea>
   </div>
   
    <ul class='list-group list-sub-categories' data-ng-show='!unknownCategory'>
      <li class='list-group-item' data-ng-repeat= "option in subCategories | filter:query | orderBy: 'title'" data-ng-click='onSelectSubCategory($event,option.nid)'>{{option.title}}</li>
    </ul>
    
    
    
    <div class='proceed-div'>
           <input type="submit" class="btn btn-default" value="Proceed to booking" data-ng-click='proceedBooking()' data-ng-disabled='!valid'>
    </div>
 
  </div>
  <!-- End body -->
 
</div>
<!--End Page Container-->