<div class="page-container">
    <div class="header">
        <table class="header-table">
            <tbody>
                <tr>
                    <td>
                       <div onclick="goBack()" data-ng-show='!editMode'>
                        <span class="glyphicon glyphicon-chevron-left menu-icons"></span>
                        <label class="menu-label-back">Back</label>
                       </div>
                       <div data-ng-click='editMode=false;' data-ng-show='editMode' > 
                        <i class="icon-thumbs-down  menu-icons" ></i>
                        <label class="menu-label-edit"> Scrap</label> 
                      </div>
                    </td>
                    <td><label class="header-title">Account</label></td>
                    <td>
                      <div data-ng-click='editMode=true;' data-ng-show='!editMode && userLoggedIn'>
                       <i class="icon-pencil menu-icons" ></i>
                       <label class="menu-label-edit"> Edit</label> 
                      </div>
                      <div data-ng-click='editMode=false;' data-ng-show='editMode' > 
                       <i class="icon-thumbs-up  menu-icons" ></i>
                       <label class="menu-label-edit"> Save</label> 
                      </div> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="body-no-footer">
    
    <!-- Login-prompt -->    
     <div class="login-prompt-window" data-ng-show='!userLoggedIn'>
        <div class="login-hi-text"><em>Hi</em></div>
        <div class="login-help-text"><em>Please login to view your account.</em></div>
        <div><a href="#login"><span id="login-button"><em>Login</em></span></a></div>        
     </div>
    <!-- End Login-prompt -->
    
    <!-- Account Details -->
    <div class="container"  data-ng-show='userLoggedIn'>
      <div>
          <div class='field-row'>
                 <div class='field-col-1'>
                   <div><i class="icon-user menu-icons-fa"></i></div>
                 </div>
                 <div class='field-col-2'>
                   <div class='field-lable'>First Name</div>
                   <div class='field-value' data-ng-show='!editMode'> {{firstName}}</div>
                   <input class='field-value-input' type="text" data-ng-show='editMode' data-ng-model='firstName'>
                 </div>
          </div>
          <div class='field-row'>
                 <div class='field-col-1'>
                   <div><i class="icon-user menu-icons-fa"></i></div>
                 </div>
                 <div class='field-col-2'>
                   <div class='field-lable'>Last Name</div>
                   <div class='field-value' data-ng-show='!editMode'> {{lastName}}</div>
                   <input class='field-value-input' type="text" data-ng-show='editMode' data-ng-model='lastName'>
                 </div>
          </div>
          <div class='field-row'>
                <div class='field-col-1'>
                   <div><i class="icon-envelope menu-icons-fa"></i></div>
                 </div>
                <div class='field-col-2'>   
                 <div class='field-lable'>Email</div>
                 <div class='field-value' data-ng-show='!editMode'> {{email}}</div>
                 <input class='field-value-input' type="email" data-ng-show='editMode' data-ng-model='email'>
                </div>  
          </div>
          <div class='field-row' data-ng-show='editMode'>
                <div class='field-col-1'>
                   <div><i class="icon-lock menu-icons-fa"></i></div>
                 </div>
                <div class='field-col-2'>   
                 <div class='field-lable'>Current Password</div>
                 <input class='field-value-input' type="password" >
                </div>  
          </div>
          <div class='field-row' data-ng-show='editMode'>
                <div class='field-col-1'>
                   <div><i class="icon-key menu-icons-fa"></i></div>
                 </div>
                <div class='field-col-2'>   
                 <div class='field-lable'>New Password</div>
                 <input class='field-value-input' type="password" >
                </div>  
          </div>
         <div class='field-row' data-ng-show='editMode'>
                <div class='field-col-1'>
                   <div><i class="icon-key menu-icons-fa"></i></div>
                 </div>
                <div class='field-col-2'>   
                 <div class='field-lable'>Confirm Password</div>
                 <input class='field-value-input' type="password" >
                </div>  
          </div>
          <div class='field-row'>
               <div class='field-col-1'>
                   <div><i class="icon-phone menu-icons-fa"></i></div>
                 </div>
               <div class='field-col-2'>  
                 <div class='field-lable'>Phone</div>
                 <div class='field-value'> {{phone}}</div>
               </div>  
          </div>
      </div>
    </div>
   <!-- End Account Details --> 
      
   </div>
</div>