<div class="page-container">

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td  onclick="goBack()">
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Visit Details</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
    <div class='app-promo'>This is awesome!</div>
    <!-- End Header Segment-->
  
  <div class="body-no-footer">
  
    <div class='select-date-time-div'>
        <div class='select-date-time-lable font-roboto-500' >Select Date & Time</div>
        <div class='select-date-time-value'>
          <div class='select-date' data-ng-click='openDatePicker()'>
            <i class="icon-calendar custom-icon-green"></i>
            <div>{{selectedDateText}}</div>
          </div>
          <div class='select-time' data-ng-click='openTimePicker()'>
            <div><i class="icon-time custom-icon-green"></i></div>
            <div>{{selectedTime}}</div>
          </div>
        </div>
        
        <!-- End Date Picker -->
        <div class="slider-container" id='custom-date-picker'>
  		  <div data-ng-repeat="option in dates" data-ng-click='onSelectListdate(option)'>
  		     <i class="icon-calendar custom-icon-green"></i> 
  		     <span>{{option.getDate()}} </span> 
  		     <span>{{getMonthName(option)}} </span>
  		     <span>{{getDayName(option)}} </span>
  		  </div>
	    </div>
	    <!-- End Date Picker -->
	    
	    <!-- Time Picker -->
	    <div class="slider-container" id='custom-time-picker'>
	      <div data-ng-repeat='optionTime in timeSlots' data-ng-click='onSlectTimeSlot(optionTime)'>
	         <i class="icon-time custom-icon-green"></i>
	         <span>&nbsp;&nbsp;{{optionTime.shift}}</span><br/>
	         <span>{{optionTime.value}}</span>
	      </div>
	    </div>
	    <!-- End Time Picker -->
	    
        <div class='error-msg' data-ng-show='dateTimeError' data-ng-bind='dateTimeError'></div>  
    </div>
    
    
    <div class='provide-address-div'>
          <div class='provide-address-lable font-roboto-500' >Address Information</div>
          <div class='provide-address-value'>
            <div class="form-group">
             <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-building input-group-addon-custom"></i></span>
              <input class="form-control form-text" type="text"  placeholder="Building/Apartment" data-ng-model='building_Apartment_No' tabindex='1' size="60" maxlength="60" required>
             </div>
             <div class='error-msg' data-ng-show='building_Apartment_No_Error' data-ng-bind='building_Apartment_No_Error'></div>
            </div>
        
        	<div class="form-group">
        	 <div class="input-group z-index-0">
          		<span class="input-group-addon"><i class="icon-building input-group-addon-custom"></i></span>
          		<input class="form-control form-text" type="text"  placeholder="Street" data-ng-model='street' tabindex='2' size="60" maxlength="60" required>
         	 </div>
         	 <div class='error-msg' data-ng-show='streetError' data-ng-bind='streetError'></div>
        	</div>
        
        	<div class="form-group">
         	 <div class="input-group z-index-0">
          		<span class="input-group-addon"><i class="icon-star input-group-addon-custom"></i></span>
          		<input class="form-control form-text" type="text"  placeholder="LandMark"  data-ng-model='landMark' tabindex='3' size="60" maxlength="60" required>
         	 </div>
         	 <div class='error-msg' data-ng-show='landMarkError' data-ng-bind='landMarkError'></div>
            </div>
            
            <div class="form-group">
         	 <div class="input-group z-index-0">
          		<span class="input-group-addon"><i class="icon-lock input-group-addon-custom"></i></span>
          		<input class="form-control form-text" type="text"  placeholder="Coupon Code (optional)"  data-ng-model='couponCode' tabindex='3' size="60" maxlength="60" required>
         	 </div>
         	 
            </div>
        
            <div class='form-group'>
              <div class='selected-city-area' data-ng-click='showHideCityAreaList()'>
                <div class='selected-city-area-icon'><i class='icon-map-marker input-group-addon-custom-marker'></i></div>
                <div class='font-roboto-400'>{{selectedCityArea.title}}</div>
              </div>
             <ul class='list-group list-group-city-area' data-ng-show='showCityAreasList'>
              <li class='list-group-item font-roboto-400' data-ng-repeat='option in cityAreas' data-ng-click='onSelectCityArea(option)'><div class='margin-left-10 padding-5'>{{option.title}}</div></li>
             </ul>
             <div class='error-msg' data-ng-show='selectedCityAreaError' data-ng-bind='selectedCityAreaError'></div>
            </div> 
          </div>          
    </div>
    
    <div class='proceed-div'>
           <input type="submit" class="btn btn-default" value="Lets Book Now" data-ng-click='validateDetails()'>
    </div>
    
    
  </div>
  <!-- End body -->
</div>
<!--End Page Container-->

  <!-- Custom Overlay, Date & Time picker -->
  <div class='custom-overlay' data-ng-click='hideCustomOverlay()'></div>
  <!--
  <div id='custom-time-picker'>
        <div class='custom-time-picker-header'>Select Time</div>
        <ul class='list-group custom-list-time'>
            <li class='list-group-item' data-ng-repeat='optionTime in timeSlots' data-ng-click='onSlectTimeSlot(optionTime)'>
               <div class='custom-list-icon'><i class="icon-time custom-list-clock-icon"></i></div>
               <div class='custom-list-time-lable'>
                        {{optionTime.shift}}<br/>
                        {{optionTime.value}}
               </div>
            </li>
         </ul>
  </div>
   
    
    <div id='custom-date-picker'>
      <div class='custom-time-picker-header'>Select Date</div>
        <ul class='list-group custom-list-time'>
          <li class='list-group-item' data-ng-click='onSelectListdate(option)' data-ng-repeat="option in dates">
                <i class="icon-calendar list-calendar-icon"></i>
                <div class='custom-list-date'><span>{{option.getDate()}}</span> <span>{{getMonthName(option)}}</span></div>
                <div class='custom-list-day'>{{getDayName(option)}}</div>
            </li>
        </ul>
    </div>
    -->
    
  <!--End Custom Overlay, Date & Time picker -->