<div class="page-container" id='home-container'>

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
           <td><img  src="img/logo-white.png" height='40' width='75' style='margin-left: 10px;'></td>
          <td>
            Home            
          </td>
          <td>
             <a href='#Login' data-ng-show='!isLogin'> <label class="menu-label">Login&nbsp;</label><i class="icon-signin menu-icons" ></i></a>
              
          </td> 
        </tr>
      </tbody>
    </table>
  </div><!-- End Header -->
  <div class='app-promo'><a href="#Offers">This is awesome!</a></div>
  <!-- End Header Segment-->
  
  <div class="body">
   
   <div id='home-page'>
    
     <div class="carousel-demo" data-ng-show='showSlides'>
        <ul rn-carousel rn-carousel-index="21" rn-carousel-controls-allow-loop rn-carousel-auto-slide rn-carousel-buffered rn-carousel-duration='500' class="carousel-slider-custom">
           <li ng-repeat="slide in slides2" data-ng-click="imageClick(slide.action)">
             <img  ng-src="{{slide.uri}}">   
          </li>
       </ul>          
     </div>
     
     <div id='loading-slider' data-ng-show='!showSlides'>
         <img src="img/289.gif" height="29" width="96">
     </div>
   
     <!-- <img  src="img/arrow-tag-1.png" id='arrow-tag'> -->
     
     <table class='category-table'>
       <tbody>
         <tr>
           <td><a href='#SubCategory'><img src="img/cat-plumbing-new.png" class='cat-icon icon-blue' data-ng-click='selectedCategory(1)'></a></td>
           <td><a href='#SubCategory'><img src="img/cat-electrician-new.png" class='cat-icon icon-yellow' data-ng-click='selectedCategory(2)'></a></td>
           <td><a href='#SubCategory'><img src="img/cat-carpenter-new.png" class='cat-icon icon-red' data-ng-click='selectedCategory(3)'></a></td>
         </tr>
         <tr>
           <td><label class='cat-name font-roboto-500'>Plumbing</label></td>
           <td><label class='cat-name font-roboto-500'>Electricals</label></td>
           <td><label class='cat-name font-roboto-500'>Carpentry</label></td>
         </tr>
       </tbody>
     </table>
     
     <img  src="img/arrow-tag-2.png" id='arrow-tag-2'>
     
     <div id='social-float' data-ng-click='onSocialClick()'>
       <img  src="img/social.png" height="30" width="30">
     </div>
    
     <div id='facebook' class='social-option' data-ng-click='onFacebookClick()'>
       <img  src="img/facebook.png" height="30" width="30">
     </div>
     
     <div id='google' class='social-option'  data-ng-click='onGoogleClick()'>
       <img  src="img/google.png" height="30" width="30">
     </div>
     
     <div id='twitter' class='social-option'  data-ng-click='onTwitterClick()'>
       <img  src="img/twitter.png" height="30" width="30">
     </div>

     <div id='share' class='social-option' data-ng-click="onClickShare()">
         <img  src="img/share.png" height="30" width="30">
     </div>

   </div>  
   
   <div id='no-internet'>
     <img  src="img/antenna.png" id='tower'>
     <div id='tower-text'>Opps! Need working internet<br/> connection to run the app.</div>
   </div>

      <div id='share-options'>
          <div class="row-share"><div class='share-header'>Share via...<img  src="img/icon-cancel.png" class='icon-cancel' data-ng-click="hideShareOptions()"></div></div>
          <div class="row-share" data-ng-click="shareFacebook()">
              <div class="col-share-1"><img  src="img/facebook.png" style='background:#3a5795;'></div>
              <div class="col-share-2">Facebook</div>
          </div>
          <div class="row-share" data-ng-click="shareGoogle()">
              <div class="col-share-1"><img  src="img/google.png" style='background:#db4b39;'></div>
              <div class="col-share-2">Google+</div>
          </div>
          <div class="row-share" data-ng-click="shareTwitter()">
              <div class="col-share-1"><img  src="img/twitter.png" style='background:#55acee;'></div>
              <div class="col-share-2">Twitter</div>
          </div>
          <div class="row-share" data-ng-click="shareWhatsApp()">
              <div class="col-share-1"><img  src="img/whats-app.png" style='background:#65BC54;'></div>
              <div class="col-share-2">WhatsApp</div>
          </div>
          <div class="row-share" data-ng-click="shareSMS()">
              <div class="col-share-1"><img  src="img/sms.png" style='background:#2B78C2;'></div>
              <div class="col-share-2">SMS</div>
          </div>
      </div>
  </div>
  <!-- End body -->
  
  
  <div class="footer">
    <table class="footer-table">
        <tbody>
            <tr >
             <!--  <td style='padding-top: 5px;'>
                 <i class="icon-plus-sign" style='font-size: 25px;color: #72c02c;'></i> <br/> 
                 <label class="menu-label-footer">New Request</label>
              </td> -->
              
               <td style='padding-top: 5px;'>
                 <a href="#Order">
                  <!-- <i class="icon-ticket icon-shopping-cart icon-folder-open icon-folder-open-alt icon-list icon-th-list icon-inbox menu-icons"></i> -->
                  <!--  <span style='padding: 3px;border: 1px solid #ffffff;'><i class="icon-list menu-icons-footer"></i></span> -->
                  <img src="img/list-1-white.png" height='25' width='30'>
                 <label class="menu-label-footer">&nbsp;&nbsp;Requests&nbsp;&nbsp;</label>
                 </a> 
              </td>
                            
              <td style='padding-top: 5px;'>
                <a href="#Account">
                <!-- <i class="icon-cog menu-icons-footer"></i> -->
                <img src="img/gear-white.png" height='23' width='23'>
                <label class="menu-label-footer">&nbsp;&nbsp;&nbsp;Settings&nbsp;&nbsp;&nbsp;</label>
                </a>      
              </td>

              <td style='padding-top: 5px;'>
                    <a href="#Offers">

                        <img src="img/offer-tag.png" height='23' width='23'>
                        <label class="menu-label-footer">&nbsp;&nbsp;&nbsp;Offers&nbsp;&nbsp;&nbsp;</label>
                    </a>
               </td>
                      
            </tr>
        </tbody>
    </table>
  </div>
  <!--End footer-->

  <div id='share-options-overlay'></div>

  <div id='inAppBrowser-overlay'></div>

  <div id="update-now-popup">

   <div class="update-now-header">
        <div>Upgrade Now <img  src="img/announcement.png" class='icon-announcement'></div>
   </div>

   <div style="color: grey; font-size: 16px; padding: 10px;">You need to upgrade the app as this version is no longer supported. This upgrade will offer new features which are intended to make your app experience more enjoyable.</div>

   <div style='text-align:center;margin-top: 15px;'><button type="button" class="btn btn-primary" style='width:200px;' data-ng-click="hideUpdateNow()">Upgrade Now</button></div>

  </div>
  
</div>
<!--End Page Container-->




