<div class="page-container">
  
  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td>
            <div id='menu' data-ng-show='!showBack' onclick="sidePanelToggle()">
               <span class="glyphicon glyphicon-menu-hamburger menu-icons"></span>
            </div>
            <div id='back' data-ng-show='showBack' data-ng-click='onStepBack()'>
               <span class="glyphicon glyphicon-chevron-left menu-icons" data-ng-show="step!='ticket-reciept'"></span>
               <!-- <i class='icon-hand-left menu-icons-middle-aligned'></i>-->
               <label class="menu-label-back" data-ng-show="step!='ticket-reciept'"> Back</label>
               
               <span class="glyphicon glyphicon-home menu-icons" data-ng-show="step=='ticket-reciept'"></span>
               <label class="menu-label-back" data-ng-show="step=='ticket-reciept'"> Home</label>
            </div>
          </td>
          <td><img src="img/gofeliz-gray-low.png" height="50" width="80"></td>
          <td><div data-ng-click="login()"><span class="glyphicon glyphicon-off menu-icons"></span></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="side-panel">
   <ul class="list-group">
      <li class="list-group-item side-panel-list-item" onclick="animateHomeOption('#home')">
          Home<span class="glyphicon glyphicon-home pull-right"></span>
      </li>
      <li class="list-group-item side-panel-list-item" onclick="animateHomeOption('#services')">
          Services<span class="glyphicon glyphicon-wrench pull-right"></span>
      </li>
      <li class="list-group-item side-panel-list-item" onclick="animateHomeOption('#how-it-works')">
          How it works<span class="glyphicon glyphicon-question-sign pull-right"></span>
      </li>
      <li class="list-group-item  side-panel-list-item" onclick="animateHomeOption('#about-us')">
          About us <span class="glyphicon glyphicon-king pull-right"></span>
      </li>
      <li class="list-group-item  side-panel-list-item">
         Website<span class="glyphicon glyphicon-globe pull-right"></span>
      </li>
   </ul>
  </div>

  <div class="side-panel-overlay" onclick="removeOverlayAndSidePanel()">
  </div>
  
  
  <div class="body">
  
   <!-- Category option -->
    <div class="home-options home-options-active" id="home">
     <!-- Category form -->
     <div class="cat-div" data-ng-show="step=='category'">
       <div class="cat-div-header">We can help you fix the stuff! Please select a category</div>
       <br/>
       <div class="row cat-div-body">
         <div class="puls-grow col-md-4" data-ng-click="showSubCategory('Plumbing')">
           <img src="img/cat-plumbing-new.png" height="64" width="64">
           <br/>
           <label class='cat-name'>Plumbing</label>
         </div>
         <div class="puls-grow col-md-4" data-ng-click="showSubCategory('Electricals')">
           <img src="img/cat-electrician-new.png" height="64" width="64">
            <br/>
           <label class='cat-name'>Electricals</label>  
         </div>
         <div class="puls-grow col-md-4" data-ng-click="showSubCategory('Carpentry')">
           <img src="img/cat-carpenter-new.png" height="64" width="64">
            <br/>
           <label class='cat-name'>Carpentry</label>  
         </div>
       </div>
       <div class="cat-div-footer">
          Don't want to book online? Call us to book a service for you.<br/>
          <i class='icon-phone menu-icons-middle-aligned'></i>
          <span style='color:#72c02c'>&nbsp;730 403 3000</span>
       </div>
     </div>
      <!--End Category form-->
      
      <!-- Sub Category form -->
      <form data-role="form" class="cat-div" data-ng-show="step=='sub-category'" data-ng-submit='subCategoryNext()'>
        <div class='cat-div-header'>Please select a sub-category</div>
        
        <div class="input-group z-index-0"  data-ng-show="!subCategoryUnknown">
          <span class="input-group-addon"><i class="icon-search input-group-addon-custom"></i></span>
          <input class="form-control form-text" data-ng-model="query" type="text" placeholder="Type to search a category" autofocus="" size="60" maxlength="60">
        </div>
        
        <div class="input-group z-index-0">
	      <label class="checkbox"><input type="checkbox" data-ng-model='subCategoryUnknown'>I can't find the repair work in the list.</label>
        </div>
        
        <ul class="list-group sub-category-list"  data-ng-show="!subCategoryUnknown">
         <li data-ng-repeat="option in subCategories | filter:query | orderBy: 'title' " class="list-group-item sub-category-list-item" data-ng-click="subCategoryListSelect(option)">
        {{option.title}}</li>
         
        </ul>
        
        <div class="form-group">
        <textarea class="textarea subCategoryUnknown form-control" data-row="10" placeholder="Please describe the repair work." 
                   maxlength="350" data-ng-show="subCategoryUnknown" data-ng-model='ticketDescription'></textarea>
        </div>          
        
        <input type="submit" class="btn btn-default login-btn-green" value="Next" data-ng-show="subCategoryUnknown">
        <br data-ng-show="subCategoryUnknown"/>
      </form>
      <!-- End Sub Category form -->
      
      <!-- Date Time Form -->
      <form data-role="form" class="cat-div" data-ng-show="step=='date-time'">
      
         <div class='cat-div-header'>Please provide details</div>
         <div class='form-group'>
         <div class="list-selected-date" data-ng-click="showListDates()" data-ng-show="showSelectedDate">
             <i class="icon-calendar list-calendar-icon-green"></i>
             <div class='list-date'><span>{{selectedDate.getDate()}}</span> <span>{{getMonthName(selectedDate)}}</span></div>
             <div class='list-day'>{{getDayName(selectedDate)}}</div>
         </div>
         <ul class='list-group text-center list-group-date' data-ng-show='listDates'>
           <li class='list-group-item' data-ng-click='onSelectListdate(option)' data-ng-repeat="option in dates">
                <i class="icon-calendar list-calendar-iconn"></i>
                <div class='list-date'><span>{{option.getDate()}}</span> <span>{{getMonthName(option)}}</span></div>
                <div class='list-day'>{{getDayName(option)}}</div>
            </li>
         </ul>
         </div>
         
         <div class='form-group'>
         <div class="list-selected-time" data-ng-show="showSelectedTime" data-ng-click="showListTimes()">
              <div><i class="icon-time list-clock-icon-green"></i></div>
              <div class='list-time'>{{getTimeSlotName(selectedTime.value)}}<br/>{{getTimeSlotvalue(selectedTime.value)}}</div>
         </div>
         <ul class='list-group list-group-time' data-ng-show='listTimes'>
            <li class='list-group-item list-group-time-item' data-ng-repeat='optionTime in timeSlots' data-ng-click='onSlectTimeSlot(optionTime)'>
               <div><i class="icon-time list-clock-icon"></i></div>
               <div class='list-time'>
                        {{getTimeSlotName(optionTime.value)}}<br/>
                        {{getTimeSlotvalue(optionTime.value)}}
               </div>
            </li>
         </ul>
         </div>
         <input type="submit" class="btn btn-default login-btn-green" value="Confirm" data-ng-show="showConfirm" data-ng-click='dateTimeConfirm()'>
         <br/>       
      </form>
      <!-- End Date Time Form -->
      
      <!-- Address Details Form -->
      <form data-role="form" class="cat-div" data-ng-show="step=='address'" data-ng-submit='addressNext()'>
        <div class='cat-div-header'>Please provide visit address details.</div>
        <div class="form-group">
         <div class="input-group z-index-0">
          <span class="input-group-addon"><i class="icon-building input-group-addon-custom"></i></span>
          <input class="form-control form-text" type="text"  placeholder="Building/Apartment" data-ng-model='building_Apartment_No' tabindex='1' size="60" maxlength="60" required>
         </div>
        </div>
        
        <div class="form-group">
         <div class="input-group z-index-0">
          <span class="input-group-addon"><i class="icon-building input-group-addon-custom"></i></span>
          <input class="form-control form-text" type="text"  placeholder="Street" data-ng-model='street' tabindex='2' size="60" maxlength="60" required>
         </div>
        </div>
        
        <div class="form-group" data-ng-show='!showCityAreasList'>
         <div class="input-group z-index-0">
          <span class="input-group-addon"><i class="icon-star input-group-addon-custom"></i></span>
          <input class="form-control form-text" type="text"  placeholder="LandMark"  data-ng-model='landMark' tabindex='3' size="60" maxlength="60" required>
         </div>
        </div>
        
        <div class='form-group'>
            <div class='selected-city-area' data-ng-click='showHideCityAreaList()'>
                <div class='selected-city-area-icon'><i class='icon-map-marker input-group-addon-custom'></i></div>
               <div class='selected-city-area-title'>{{selectedCityArea.title}}</div>
            </div>
            <ul class='list-group list-group-city-area' data-ng-show='showCityAreasList'>
              <li class='list-group-item' data-ng-repeat='option in cityAreas' data-ng-click='onSelectCityArea(option)'>{{option.title}}</li>
            </ul>
        </div>
        <input type="submit" class="btn btn-default login-btn-green" value="Next" data-ng-show='!showCityAreasList'>
         <br/> 
      </form>
      <!--End Address Details Form -->
       
      <!--User Details Form  -->
        <form data-ng-role='form' class="cat-div" data-ng-show="step=='user-details'">
          <div class='cat-div-header'>Please provide contact person details.</div>
       
          <div class='input-group z-index-0' style='margin-top:-10px;'>
	        <label class="checkbox"><input type="checkbox" data-ng-model='registeredUser'>I am a registered Customer.</label>
          </div>
                               
          <div class='form-group' data-ng-show='!registeredUser'>
          <div class='input-group z-index-0'>
            <span class="input-group-addon"><i class="icon-envelope input-group-addon-custom"></i></span>
            <input class='form-control'  type="email" placeholder="Email">
          </div>
          </div>
          
          <div class='form-group' data-ng-show='!registeredUser'>
          <div class='input-group z-index-0'>
            <span class='input-group-addon'><i class="icon-user input-group-addon-custom"></i></span>
            <input class='form-control' type='text' placeholder='First Name'>
          </div>
          </div>
          
          <div class='form-group' data-ng-show='!registeredUser'>
          <div class='input-group z-index-0'>
            <span class='input-group-addon'><i class="icon-user input-group-addon-custom"></i></span>
            <input class='form-control' type='text' placeholder='Last Name' >
          </div>
          </div>
        
          <div class='form-group'>
          <div class='input-group z-index-0'>
            <span class='input-group-addon'><i class="icon-phone-sign input-group-addon-custom"></i></span>
            <input class='form-control' type='number' placeholder='10 digit Mobile Number' required>
          </div>
          </div>
          
          <div class='form-group' data-ng-show='registeredUser'>
            <div class='input-group z-index-0'>
            <span class='input-group-addon'><i class="icon-lock input-group-addon-custom"></i></span>
            <input class='form-control' type='password' placeholder="Password">
          </div>
          </div>
          
          <div class='form-group' data-ng-show='registeredUser'>Forgot Password? <span style="color: #72C02C">Get it now via sms.</span></div>
          
          <input type="submit" class="btn btn-default login-btn-green" value="Next">
         <br/>   
        </form>
      <!--End User Details Form  -->
      
      <!-- Ticket Reciept  -->
      <div class="cat-div" data-ng-show="step=='ticket-reciept'">
       <div class="cat-div-header">Service Request registered.</div>
       <div class="cat-div-body">
         <div class="alert-success">
		   <span>Thanks for your business! Your Service Request Number is <strong>{{ticketSRN}}</strong>.</span>
	     </div>
	     <br/>
       </div>
      </div>
      <!--End Ticket Reciept-->
         
    </div>
   <!--End Category option -->
   
   <!-- Services Option -->
   <div class="home-options" id="services">
     <div class="container text-center">
         <div class="container-header-title">OUR SERVICES</div>
         <label class="container-seperator">&nbsp;</label>
         <div class="container-header-body">We strive to make your <strong>Home Services</strong> experience <strong>awesome</strong>. 
              We are focused on areas where there is lot of pain to get the quality work done.
              We assure you of defining home services experience.</div>
         
         <div class="row container-body">
           <div class="col-sm-4">
               <div><i class="icon-align-justify services-options-icons"></i></div>
               <div class="services-options-icons-title">Plumbing</div>
               <label class="container-seperator">&nbsp;</label>
               <ul class="list-unstyled">
				<li>General Plumbing Work</li>
				<li>Kitchen Sink Clogged</li>
				<li>Bathroom Fitting</li>
				<li>Bathroom Fittings Repair</li>
				<li>Sewer and Water Line Repair</li>
			   </ul>
           </div>
           <div class="col-sm-4">
               <div><i class="icon-align-justify services-options-icons"></i></div>
               <div class="services-options-icons-title">Carpentry</div>
               <label class="container-seperator">&nbsp;</label>
               <ul class="list-unstyled">
				<li>Furniture Repair/Work</li>
				<li>Lock Repair/New Fitting</li>
				<li>Door Repair</li>
				<li>Fittings</li>
				<li>Installations</li>
			   </ul>
           </div>
           <div class="col-sm-4">
               <div><i class="icon-align-justify services-options-icons"></i></div>
               <div class="services-options-icons-title">Electricals</div>
               <label class="container-seperator">&nbsp;</label>
               <ul class="list-unstyled">
				<li>New Fittings</li>
				<li>New Electrical Wiring</li>
				<li>Fan/Light/Switch Repairs</li>
				<li>MCB Fuse Repair</li>
				<li>Short Circuits</li>
			   </ul> 
           </div>
         </div>      
     </div>     
   </div>  
   <!--End Services Option -->
   
   <!-- About Us Option -->
   <div class="home-options" id="about-us">
     <div class="big-image">
       <div class="container">
         <div class="row text-center">
            <div class="col-sm-3">
              <div><i class="icon-time about-us-options-icon icon-green"></i></div>
              <div class="about-us-options-heading">On Time</div>
              <hr class="hr-seperator"/>
              <div class="about-us-options-content">The first difference that you will notice in your next "awesome" Handyman services experience,
                 is getting a skilled worker coming on-time! Pick a time and be assured of on-time services.
              </div>
            </div>
            <div class="col-sm-3">
              <div><i class="icon-calendar-empty about-us-options-icon icon-blue"></i></div>
              <div class="about-us-options-heading">On Demand</div>
              <hr class="hr-seperator"/>
              <div class="about-us-options-content">We know that you are busy and we appreciate your time! Now you can plan
                  the next serviceman visit at the date and time convenient to you.
              </div>
            </div>
            <div class="col-sm-3">
              <div><i class="icon-group about-us-options-icon icon-red"></i></div>
              <div class="about-us-options-heading">Trained Professionals</div>
              <hr class="hr-seperator"/>
              <div class="about-us-options-content">We verify background, interview and train professionals before visit to
                  make sure you get a quality experience for the services.
              </div>
            </div>
            <div class="col-sm-3">
              <div><i class="icon-check-sign about-us-options-icon icon-yellow"></i></div>
              <div class="about-us-options-heading">Transparent Pricing</div>
              <hr class="hr-seperator"/>
              <div class="about-us-options-content">Our invoice will provide clear break-up of visiting charges, parts and labor.
                  You will be assured of knowing where you are spending your money.
              </div>
            </div>
         </div><!-- End row -->
       </div><!-- End Container-->
     </div><!--End big-image-->
   </div>
   <!-- End About Us -->
   
   <!-- How it works -->
   <div class="home-options" id="how-it-works">
     <div class="container text-center">
        <div class="container-header-title">How it works</div>
        <label class="container-seperator">&nbsp;</label>
        <div class="container-header-body">We make your service request experience quick and easy.Just follow the 
             steps below to get it done.
        </div>
        <div class="row container-body">
           <div class="col-sm-3">
              <div><i class="dot-active"></i></div>
              <div class="services-options-icons-title">CHOOSE A SERVICE</div>
              <div class="container-content-body">Choose a service from online or call us @1212121212.</div>
           </div>
           <div class="col-sm-3">
              <div><i class="dot-active"></i></div>
              <div class="services-options-icons-title">PICK A TIME</div>
              <div class="container-content-body">Pick a time convenient to you for visit we will notify you of the Handyman's details before visit.</div>
           </div>
           <div class="col-sm-3">
              <div><i class="dot-active"></i></div>
              <div class="services-options-icons-title">PAY AFTER WORK</div>
              <div class="container-content-body">Get cost details on your mobile. Pay after the completion of work.</div>
           </div>
           <div class="col-sm-3">
              <div><i class="dot-active"></i></div>
              <div class="services-options-icons-title">FEEDBACK</div>
              <div class="container-content-body">Leave us a feedback to serve you better.</div>
           </div>
        </div><!--End container-body -->
     </div><!-- End container -->
   </div>
   <!--End How it works -->
   
   <!-- Log Out Modal  -->
   <div class="modal fade" id="logout-modal" data-role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center text-danger">Logout, are you sure ?</h4>
        </div>
        <div class="modal-body">
         <div class='text-center'>
          <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="logout(user_info)" >Log Out</button>
         </div>
        </div>
      </div>
    </div>
   </div>
   <!-- End Log Out Modal  -->
             
  </div>
  <!--End div.body  -->
  
  <div class="footer">
    <table class="footer-table">
        <tbody>
            <tr>
              <td onclick="removeSidePanelsZIndex()">
                  <a href="#Account">
                    <span class="glyphicon glyphicon-user menu-icons"></span>
                    <label class="menu-label">{{username}}</label>
                  </a>
              </td>
              <td onclick="removeSidePanelsZIndex()">
                 <a href="#Orders">
                   <span class="glyphicon glyphicon-th-list menu-icons"></span>
                   <label class="menu-label">Orders</label>
                 </a>
              </td>
              <td onclick="removeSidePanelsZIndex()">
                 <a href="#Settings">
                   <span class="glyphicon glyphicon-th-large menu-icons"></span>
                   <label class="menu-label">Settings</label>
                 </a>
              </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>