<div class="page-container">

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td  onclick="goBack()">
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Login</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
  <div class='app-promo'>This is awesome!</div>
  <!-- End Header Segment-->


  <div class="body-no-footer">
   <div class='custom-tab'>
    <table class='custom-tab-header'>
      <tbody>
        <tr>
         <td id='signIn' class='custom-tab-header-options custom-tab-header-active' data-ng-click='showTabContent(1)'>Sign In</td>
         <td id='signUp' class='custom-tab-header-options' data-ng-click='showTabContent(2)'>Sign Up</td>
        </tr>
      </tbody>
    </table>
    <div class='custom-tab-body'>
    
      <div id='signIn-body' class='tab-body' data-ng-show="step=='signIn'||step=='forgot-password'">
       <!-- Login Form -->
        <form name="loginForm" data-role="form" data-ng-submit="validatelogin()" data-ng-show="step=='signIn'">
          <div class="form-group">
            <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-phone-sign input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Enter Phone Number" data-ng-model="phoneNumber" required>
            </div>
            <div data-ng-show="phoneNumberError" data-ng-bind='phoneNumberError' class="error-msg" ></div>
          </div>
                    
          <div class="form-group"> 
           <div class="input-group z-index-0 margin-top-20" >
             <span class="input-group-addon"><i class="icon-lock input-group-addon-custom"></i></span>
             <input type="password" class="form-control" placeholder="Enter password" data-ng-model="password" required>
           </div>
           <div data-ng-show="passwordError" data-ng-bind="passwordError" class="error-msg" ></div>
          </div>


         <div class='login-div'>
           <input type="submit" class="btn btn-default" value="Login to your account">
         </div>
         
          <div class="login-form-footer color-grey">
           <div>
            <div class="login-form-header">Forgot your Password?</div>
            <p data-ng-click='step="forgot-password"'><span style="color: #72C02C" >click here</span> to reset your password.</p> 
           </div> 
         </div>
         
         <div id='success-msg'>
          <div class="alert alert-success">
           <span  class="close" data-dismiss="alert" aria-label="close">&times;</span>
           <div><strong>Success!</strong></div>
          <div>A new password has been sent to your number.</div>
         </div>
         
     </div>
      </form>
      <!-- End of login-form-div -->
      
       <div data-ng-show="step=='forgot-password'">
         <div class="login-form-header">It happens! Get your password now via. SMS.</div>  
         <form data-role='form' data-ng-submit='forgotPassword()'>
           <br/> 
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-phone-sign input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Enter 10 digit valid phone number" 
                      data-ng-model="phoneNumber" data-ng-blur="phoneNumberBlur()" data-ng-focus="phoneNumberFocus()" required>
             </div>
             <div data-ng-show="phoneNumberError" data-ng-bind='phoneNumberError' class="error-msg" ></div>
           </div>
           
           <div class='login-div'>
            <input type="submit" class="btn btn-default" value="Send me a new password">
           </div>
           <br/>
         </form>
       </div> 
            
      </div>
      <!-- End signIn-body -->

      <div id='signUp-body' class='tab-body' data-ng-show="step=='signUp'||step=='verification'">
       <!-- SignUp Form -->
      <div class="login-form-div" data-ng-show="step=='signUp'">  
         <form  data-ng-submit="validateSignUp()">
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-user input-group-addon-custom"></i></span>
               <input class="form-control" type="text" placeholder="First Name" data-ng-model="firstName" required>
             </div>
           </div>
           <div class="form-group">
             <div class="input-group z-index-0 margin-top-20">
               <span class="input-group-addon"><i class="icon-user input-group-addon-custom"></i></span>
               <input class="form-control" type="text" placeholder="Last Name" data-ng-model="lastName" required>
             </div>
           </div>
           <div class="form-group">
             <div class="input-group z-index-0  margin-top-20">
               <span class="input-group-addon"><i class="icon-phone-sign input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Enter 10 digit valid phone number" 
                      data-ng-model="phoneNumberSignUp" required>
             </div>
             <div data-ng-show="phoneNumberErrorSignUp" data-ng-bind='phoneNumberErrorSignUp' class="error-msg" ></div>
           </div>
           <div class="form-group">
             <div class="input-group z-index-0 margin-top-20">
               <span class="input-group-addon"><i class="icon-envelope input-group-addon-custom"></i></span>
               <input class="form-control" type="email" placeholder="Email" data-ng-model="email"
                       required>
             </div>
             <div data-ng-show="emailError" class="error-text" ><em>e.g. (UserName@DomainName.Com).</em></div>
           </div>
           <div class='login-div'>
           <input type="submit" class="btn btn-default" value="Register new account">
           </div>
           <br/>
         </form>
      </div>  
      <!-- End of SignUP -->
      <div data-ng-show="step=='verification'">
        <div class="login-form-header">Please provide the code sent to your mobile.</div>  
         <form data-role='form' data-ng-submit='registerUserWithOTAV()'>
           <br/> 
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-tablet input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Verification code sent on your mobile."
                      data-ng-model="otav" required>
             </div>
               <div data-ng-show="verificationCodeError" data-ng-bind='verificationCodeError' class="error-msg" ></div>
           </div>
           
           <div class='login-div'>
            <input type="submit" class="btn btn-default" value="Proceed with this code" data-ng-disabled='!otav'>
           </div>
           <br/>
         </form>
      </div>
     </div>
     <!-- End signUp-body -->
      
    </div>   
   </div>
  </div>
  <!-- End body -->
 
</div>
<!--End Page Container-->