<div class="page-container">    
    <div class="header">
        <table class="header-table">
            <tbody>
                <tr>
                    <td onclick="goBack()">
                        <span class="glyphicon glyphicon-chevron-left menu-icons"></span>
                        <label class="menu-label-back">Back</label>
                    </td>
                    <td>
                        <label class="header-title">
                             <span data-ng-show="step=='login'||step=='forgot-password'">Login</span>
                             <span data-ng-show="step=='signup'||step=='signup-next'">Sign Up</span>
                        </label>
                    </td>
                    <td>
                       <span data-ng-click="step='login'" data-ng-show="step=='signup'||step=='signup-next'">
                         <i class="icon-unlock-alt menu-icons-fa"></i>
                         <label class="menu-label">Login &nbsp;</label>
                       </span>
                       <span data-ng-click="step='signup'" data-ng-show="step=='login'||step=='forgot-password'"> 
                 		 <span class="glyphicon glyphicon-user menu-icons"></span>
                 		 <label class="menu-label">Sign Up</label>
                	   </span> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="body-no-footer">
      
      <!-- Login Form -->
      <div class="login-form-div"  data-ng-show="step=='login'">
        <div class="login-form-header">Login to your account</div>
        <form name="loginForm" data-role="form" data-ng-submit="submit()">
          <div class="form-group">
            <div class="input-group z-index-0">
              <span class="input-group-addon"><i class="icon-phone-sign input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Enter Phone Number" data-ng-model="phoneNumber"
                       data-ng-blur="phoneNumberBlur()" data-ng-focus="phoneNumberFocus()" required>
            </div>
            <div data-ng-show="phoneNumberError" class="error-text" ><em>Enter a valid 10 digit phone number.</em></div>
          </div>
                    
          <div class="form-group"> 
           <div class="input-group z-index-0">
             <span class="input-group-addon"><i class="icon-lock input-group-addon-custom"></i></span>
             <input type="password" class="form-control" placeholder="Enter password" data-ng-model="password" 
                     data-ng-focus="passwordFocus()" data-ng-blur="passwordBlur()" required>
           </div>
           <div data-ng-show="passwordError" class="error-text" ><em>Password length too short (6 minimum).</em></div>
          </div>
         
         <input type="submit" class="btn btn-default login-btn-green" value="login">
         <br/>
      </form>
      <div class="login-form-footer">
        <div>
          <h4>Forgot your Password?</h4>
          <p data-ng-click='step="forgot-password"'><a style="color: #72C02C" href="">click here</a> to reset your password.</p> 
        </div> 
      </div>
      </div>
      <!-- End of login-form-div -->
      
      
      <!--Forgot Password  -->
       <div class="login-form-div"  data-ng-show="step=='forgot-password'">
          <div class="login-form-header">Its happens! Get your password now via. SMS.</div> 
          
          <form data-role='form' data-ng-submit='forgotPassword()'>
           <br/> 
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-phone-sign input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Enter 10 digit valid phone number" 
                      data-ng-model="phoneNumber" data-ng-blur="phoneNumberBlur()" data-ng-focus="phoneNumberFocus()" required>
             </div>
             <div data-ng-show="phoneNumberError" class="error-text" ><em>Enter a valid 10 digit phone number.</em></div>
           </div>
           <input type="submit" class="btn btn-default login-btn-green" value="Send me a new password">
           <br/>
          </form>
       </div>
      <!--End Forgot Password  -->
      
      <!-- SignUp Form -->
      <div class="login-form-div"  data-ng-show="step=='signup'">
         <div class="login-form-header">Hey! Thanks for your interest. Please enter your mobile number.</div>   
         <form  data-ng-submit="submitSignUpPhonenumber()">
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-phone-sign input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Enter 10 digit valid phone number" 
                      data-ng-model="phoneNumber" data-ng-blur="phoneNumberBlur()" data-ng-focus="phoneNumberFocus()" required>
             </div>
             <div data-ng-show="phoneNumberError" class="error-text" ><em>Enter a valid 10 digit phone number.</em></div>
           </div>
           <input type="submit" class="btn btn-default login-btn-green" value="Next">
           <br/>
         </form>
      </div>  
      <!-- End of SignUP -->
      
      <!-- SignUp User Details  -->
      <div class="login-form-div"  data-ng-show="step=='signup-next'">
         <div class="login-form-header">Looks like this is your first visit. Please provide few more details.</div>
         <form data-ng-submit="submitSignUpUserDetails()">
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-envelope input-group-addon-custom"></i></span>
               <input class="form-control" type="email" placeholder="Email" data-ng-model="email"
                      data-ng-blur="emailBlur()" data-ng-focus="emailFocus()"  required>
             </div>
             <div data-ng-show="emailError" class="error-text" ><em>e.g. (UserName@DomainName.Com).</em></div>
           </div>
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-user input-group-addon-custom"></i></span>
               <input class="form-control" type="text" placeholder="First Name" data-ng-model="firstName" required>
             </div>
           </div>
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-user input-group-addon-custom"></i></span>
               <input class="form-control" type="text" placeholder="Last Name" data-ng-model="lastName" required>
             </div>
           </div>
           <div class="form-group">
             <div class="input-group z-index-0">
               <span class="input-group-addon"><i class="icon-tablet input-group-addon-custom"></i></span>
               <input class="form-control" type="number" placeholder="Verification code sent on your mobile."
                      data-ng-model="otav" required>
             </div>
           </div>
           <input type="submit" class="btn btn-default login-btn-green" value="Register">
           <br/>
         </form>
      </div>  
     <!-- End SignUp User Details  -->
     
    </div><!-- End of body -->
</div><!--End of Page Container -->