<div class="page-container">

  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td  onclick="goBack()">
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Offers & Deals</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
    <div class='app-promo'>This is awesome!</div>
    <!-- End Header Segment-->

  <div class="body-no-footer">

      <div class="offers-row" data-ng-repeat="offer in offerList">
          <div class="offers-title">{{offer.title}}</div>
          <div class="offers-Detail">{{offer.details}}</div>

          <div class="offer-bar">
              <div class="offer-bar-title">Expires In.</div>
              <div class="offer-bar-title">Promo Code.</div>
          </div>
          <div class="offer-bar">
              <div><i class="icon-time"></i> {{offer.expires}}</div>
              <div><i class="icon-tag"></i> {{offer.code}}</div>
          </div>
      </div>

  </div>
  <!-- End body -->
 
</div>
<!--End Page Container-->