<div class="page-container">
    <div class="header">
        <table class="header-table">
            <tbody>
                <tr>
                    <td onclick="goBack()">
                        <span class="glyphicon glyphicon-chevron-left menu-icons"></span>
                        <label class="menu-label-back">Back</label>
                    </td>
                    <td><label class="header-title">Orders</label></td>
                    <td>
                        <span class="icon-filter menu-icons"></span>
                        <label class="menu-label-back"> Filter</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="body-no-footer">
     
      <!-- Login-prompt -->    
       <div class="login-prompt-window" data-ng-show='!userLoggedIn'>
        <div class="login-hi-text"><em>Hi</em></div>
        <div class="login-help-text"><em>Please login to view your orders.</em></div>
        <div><a href="#login"><span id="login-button"><em>Login</em></span></a></div>        
       </div>
      <!-- End Login-prompt -->
      
      <!--Order List-->
      <div class="container"  data-ng-show='userLoggedIn'>
         <div class='field-row' data-ng-repeat='order in orderList'>
           <div class='order-list-col-1'>
               <div><i class="icon-circle-blank menu-icons-fa" style='color:green;'></i></div>
           </div>
           <div class='order-list-col-2'>
               <div class='field-lable'> {{order.srn}}</div>
               <div class='field-value'> {{ getFormattedDate(order.created) }}</div>               
           </div>
           <div class='order-list-col-3'>
              <div> {{order.status}}</div>
           </div>   
         </div>
      </div>
      <!--End Order List-->
    
    </div>
</div>