<div class="page-container">
 
  <div class="header">
    <table class="header-table">
      <tbody>
        <tr>
          <td  onclick="goBack()">
             <i class="icon-chevron-left menu-icons" ></i>
             <label class="menu-label"> Back</label>
          </td>
          <td>Request Details</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Header -->
    <div class='app-promo'>This is awesome!</div>
    <!-- End Header Segment-->
  
  <div class="body-no-footer">
  
    <div data-ng-show="showDetails" class="margin-top-10">
    
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-circle-blank menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Title</div>
             <div class='font-size-16 font-roboto-400'>{{title}}</div>
          </div>
     </div>
      
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-bell menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Status</div>
             <div class='font-size-16 font-roboto-400'>{{status}}</div>
          </div>
     </div>
     
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-cog  menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Category</div>
             <div class='font-size-16 font-roboto-400'>{{category}}</div>
          </div>
     </div>	
     
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-cogs  menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Sub Category</div>
             <div class='font-size-16 font-roboto-400'>{{subCategory == "" || subCategory == null ? "None" : subCategory}}</div>
          </div>
     </div>
     
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-edit menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Description</div>
             <div class='font-size-16 font-roboto-400'>{{description == "" || description == null ? "None" : description}}</div>
          </div>
     </div>
     
      <div class='row-option'>
          <div class='option-col-1'><i class="icon-calendar menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Scheduled Date</div>
             <div class='font-size-16 font-roboto-400'>{{getFormattedDate(scheduled_date)}}</div>
          </div>
     </div>
     
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-time menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Scheduled Time</div>
             <div class='font-size-16 font-roboto-400'>{{getFormattedTime(scheduled_time)}}</div>
          </div>
     </div>  
     
     
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-building menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Building/Apartment</div>
             <div class='font-size-16 font-roboto-400'>{{building_flat_house_no}}</div>
          </div>
     </div>
     
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-road menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Street</div>
             <div class='font-size-16 font-roboto-400'>{{street}}</div>
          </div>
     </div>
      
      <div class='row-option'>
          <div class='option-col-1'><i class="icon-map-marker menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>City Area</div>
             <div class='font-size-16 font-roboto-400'>{{city_area}}</div>
          </div>
     </div>
     
        
     <div class='row-option'>
          <div class='option-col-1'><i class="icon-star menu-icons" style="color: green;"></i></div>
          <div class='option-col-2'>
             <div class='font-size-12 font-roboto-500'>Landmark</div>
             <div class='font-size-16 font-roboto-400'>{{landmark}}</div>
          </div>
     </div>
     
    </div>
    <!-- End Show Details -->
  
  </div>
  <!-- End Page Body -->
  
</div>
<!--End Page Container-->