<div class="page-container">
    <div class="header">
        <table class="header-table">
            <tbody>
                <tr>
                    <td onclick="goBack()">
                        <span class="glyphicon glyphicon-chevron-left menu-icons"></span>
                        <label class="menu-label-back">Back</label>
                    </td>
                    <td><label class="header-title">Settings</label></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="body-no-footer">
  
 
    </div>
</div>