<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Frameworks -->  
    <link rel="stylesheet" href="css/bootstrap.min.css"> 
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="angular-carousle/angular-carousel.css">
    <link rel="stylesheet" href="angular-carousle/demo.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <!--End Frameworks-->
    
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    
    <link rel="stylesheet" href="css/index-new.css">
   
    <!--Frameworks-->       
    <script src="js/jquery/jquery-2.1.1.min.js"></script>

    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-touch.min.js"></script>
    <script src="angular-carousle/angular-carousel.min.js"></script>
    <script src="cordova.js"></script>
    <!--End Frameworks-->

    <script src="js/custom-js/offers-db.js"></script>
    <script src="js/custom-js/utilities.js"></script>
    <script src="js/custom-js/index.js"></script>

    
    <script src="js/custom-ng/index-ng.js"></script>
    <script src="js/custom-ng/home-ng.js"></script>
    <script src="js/custom-ng/account-ng.js"></script>
    <script src="js/custom-ng/order-ng.js"></script>
    <script src="js/custom-ng/settings-ng.js"></script>
    <script src="js/custom-ng/sub-category-ng.js"></script>
    <script src="js/custom-ng/login-ng.js"></script>
    <script src="js/custom-ng/booking-ng.js"></script>
    <script src="js/custom-ng/order-details-ng.js"></script>
    <script src="js/custom-ng/offers-ng.js"></script>

    <!-- 
      <script src="js/custom-ng/index-angular.js"></script>
      <script src="js/custom-ng/login-signup-angular.js"></script>
      <script src="js/custom-ng/home-angular.js"></script>
      <script src="js/custom-ng/account-angular.js"></script>
      <script src="js/custom-ng/order-angular.js"></script>
     -->
    
 </head>
 <body data-ng-app="gofeliz" data-ng-controller="mainController" style='background: #272727;'>
     
      <div class="page {{ pageClass }}" data-ng-view></div>

       <div class="loading-spinner">
         <img src="img/loading-small.gif" height="50" width="50">  
       </div>

 </body>
</html>